<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>社区</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--min.css-->
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- 替换为导航模板 -->
<div th:replace="navigation :: nav"></div>
<div class="container padding-box">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <h3><span class="glyphicon glyphicon-list list-icon" aria-hidden="true"></span>发现</h3>
      <hr/>
      <div th:if="${pagination.getData().size() > 0}">
        <div class="media media-sm" th:each="question : ${pagination.getData()}">
          <div class="media-left media-margin">
            <a href="#">
              <img class="media-object img-rounded user-avatar"
                   th:src="${question.creator.getAvatarUrl()}">
            </a>
          </div>
          <div class="media-body media-middle">
            <h4 class="media-heading"><a th:href="@{'/question/'+${question.getId()}}"
                                         th:text="${question.title}"></a></h4>
            <span th:text="${question.description}"></span>
            <br/>
            <span class="desc-text">
            <span th:text="${question.getLikeCount()}"></span> 人关注 •
            <span th:text="${question.getCommentCount()}"></span> 个回复 •
            <span th:text="${question.getViewCount()}"></span> 次浏览 •
            <span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
          </span>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation" class="pagination-fixed">
        <ul class="pagination">
          <li th:if="${pagination.getShowFirst()}">
            <a th:href="@{/(page=1)}" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li th:if="${pagination.getShowPre()}">
            <a th:href="@{/(page=${pagination.getCurrentPage() - 1})}" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
            <li th:each="page : ${pagination.getPages()}" th:class="${pagination.getCurrentPage() == page}? 'active' : ''">
            <a th:href="@{/(page=${page})}" th:text="${page}"></a>
          </li>
          <li th:if="${pagination.getShowNext()}">
            <a th:href="@{/(page=${pagination.getCurrentPage() + 1})}" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>
          <li th:if="${pagination.getShowEnd()}">
            <a th:href="@{/(page=${pagination.getTotalPage()})}" aria-label="End">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="help">
        <h4 class="help-title">热门话题</h4>
      </div>
    </div>
  </div>
</div>
<script src="/lib/js/jquery.js"></script>
<script src="/lib/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/index.js"></script>
</body>
</html>