<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${question.getTitle()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--min.css-->
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/question.css">
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container padding-box">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <!-- 问题标题 -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 th:text="${question.getTitle()}"></h3>
        <span class="desc-text">
          <span class="desc-label">作者:</span>
          <span th:text="${question.creator.getName()}"></span>
          <span class="desc-label">关注数:</span>
          <span th:text="${question.getLikeCount()}"></span>
          <span class="desc-label">回复数:</span>
          <span th:text="${question.getCommentCount()}"></span>
          <span class="desc-label">阅读数:</span>
          <span th:text="${question.getViewCount()}"></span>
          <span class="desc-label">发布时间:</span>
          <span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
        </span>
        <hr/>
      </div>
      <!-- 问题描述 -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- 问题描述 -->
        <p th:text="${question.getDescription()}" class="text-description"></p>
        <hr/>
      </div>
      <!-- 工具栏 -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a th:href="@{'/publish/'+${question.getId()}}" class="edit-question">
          <span class="glyphicon glyphicon-pencil edit-icon" aria-hidden="true"></span>编辑
        </a>
        <hr/>
      </div>
      <!-- 评论数量 -->
      <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span th:text="${question.getCommentCount()}"></span>
        <span>个回复</span>
        <hr />
      </h3>
      <!-- 评论列表 -->
      <div th:if="${comments.size()} > 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
          <div class="row">
            <!-- 回复用户信息 -->
            <div class="col-md-3 col-sm-3 col-xs-3 media media-sm">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle reply-user-avatar"
                       th:src="${question.creator.getAvatarUrl()}">
                </a>
              </div>
              <div class="media-body media-middle">
                <h5 class="media-heading">
                  <span th:text="${question.creator.getName()}"></span>
                </h5>
              </div>
            </div>
            <!-- 回复内容 -->
            <div class="col-md-9 col-sm-9 col-xs-9 text-right reply-content">我是回复内容</div>
          </div>
          <div class="row">
            <!-- 点赞 评论 发布时间 -->
            <div class="col-md-6 tool-bar">
              <a href="" class="tool-item">
                <span class="glyphicon glyphicon-thumbs-up tool-icon"></span>
                <span>喜欢</span>
              </a>
              <a href="" class="tool-item">
                <span class="glyphicon glyphicon-comment tool-icon"></span>
                <span>评论</span>
              </a>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <!-- 回复文本框 -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="media media-sm">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle reply-user-avatar"
                   th:src="${question.creator.getAvatarUrl()}">
            </a>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading">
              <span th:text="${question.creator.getName()}"></span>
            </h5>
          </div>
        </div>
        <input type="hidden" name="question" th:value="${question.getId()}">
        <textarea class="form-control reply-text-area" id="reply-content" rows="4"></textarea>
        <button type="button" class="btn btn-success btn-reply" id="reply">回复</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="creator-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>发起人</h4>
        <div class="media media-sm">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle user-avatar"
                   th:src="${question.creator.getAvatarUrl()}">
            </a>
          </div>
          <div class="media-body media-middle">
            <h4 class="media-heading">
              <span th:text="${question.creator.getName()}"></span>
            </h4>
            <span th:text="${question.creator.getBio()}"></span>
          </div>
        </div>
      </div>
      <div class="question-about col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>相关问题</h4>
      </div>
    </div>
  </div>
</div>
<script src="/lib/js/jquery.js"></script>
<script src="/lib/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/question.js"></script>
</body>
</html>