<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${question.getTitle()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--min.css-->
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/question.css">
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container padding-box">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="creator-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="question-about col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>相关问题</h4>
      </div>
    </div>
  </div>
</div>
<script src="/lib/js/jquery.js"></script>
<script src="/lib/js/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>